@model List<Osiansdrystonewalls.com.Models.Domain.JobRequest>

@{
}

<div class="bg-secondary bg-opacity-25 py-2">
    <div class="container">
        <h1>View All Job Requests</h1>
    </div>
</div>


<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>JobName</th>
                    <th>Description</th>
                    <th>Account Name</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var jobRequest in Model)
                {
                    <tr>
                        <td>@jobRequest.JobName</td>
                        <td>@jobRequest.Description</td>
                        <td>
                            <div class="d-flex">
                                @foreach (var customer in jobRequest.Customer)

                                {
                                    <span class="badge bg-secondary bg-opacity-100 me-1">@customer.FullName</span>
                                }
                            </div>
                        </td>
                        <td>
                            <a asp-area="" asp-controller="Admin" asp-action="AdminEditJobs"
                               asp-route-id="@jobRequest.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else if (Model == null)
    {
        <p>No Jobs Found! :(</p>
    }
</div>

<div class="container py-5">
    <form method="post">

        <div class="mb-3">
            <a class="btn btn-success" asp-area="" asp-controller="Admin" asp-action="AdminPage">Back</a>
        </div>

    </form>
</div>