@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-decoration-underline display-4 fw-bold">Osians Dry Stone Walling</h1>
</div>

<div class="card border-dark" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="text-decoration-underline card-title">How To Book A Job?</h5>
        <p class="card-text">
            To book a job or get into contact with me the best way to do it  is
            by creating an account, you can do this by clicking the green button.
        </p>
        <p class="card-text">
            If you Already hvae an account please click the blue button to sign in.
        </p>
        <a class="btn btn-success" asp-area="" asp-controller="Customer" asp-action="CreateAccount">Create Account</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Customer" asp-action="LogIn">Log In</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>