@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="text-decoration-underline display-4 fw-bold">Osians Dry Stone Walling</h1>
</div>

 <div class="float-end" style="width: 30rem;">
    <div class="card-body float-end card border-dark">
            <h5 class="text-decoration-underline card-title">How To Book A Job?</h5>
            <p class="card-text">
                To book a job or get into contact with me the best way to do it  is
                by creating an account, you can do this by clicking the green button.
            </p>
            <p class="card-text">
                If you already have an account please click the button to log in.
            </p>
            <a class="btn btn-success" asp-area="" asp-controller="Customer" asp-action="CreateAccount">Create Account</a>
            <p> </p>
            <a class="btn btn-success" asp-area="" asp-controller="Customer" asp-action="LogIn">Log In</a>
        </div>

    <div class="float-end" style="width: 30rem;">
        <div class="card-body float-end">
            <h5 class="card-title"></h5>
        </div>
    </div>

    <div class="card border-dark float-end" style="width: 30rem;">
        <div class="card-body float-end">
            <h5 class="text-decoration-underline card-title">Areas I cover.</h5>
            <p class="card-text">
                Walkerburn, Innerleithen, Peebles, Galashiels, Stow, Selkirk, Lauder, Melrose, Galashiels, Lauder, Melrose, Peebles, Selkirk, Stow, Walkerburn,
                Cardrona, Darnick, Tweedbank, St Boswells.
            </p>
            <p class="card-text">
                If your area is not listed above dont worry you can still make a request, however I am at uni so I do not like to travel too far! :)
            </p>
        </div>
    </div>
</div>

<div class="card border-dark" style="width: 30rem;">
    <div class="card-body">
        <h5 class="text-decoration-underline card-title">About Me</h5>
        <p class="card-text">
           Growing up on a farm in north wales where evryhwere and everything is seperated by a drystone wall I had quire a bit to work with.
        </p>
        <p class="card-text">
            Insent picture / picutres here of lots of dry stone walls in small area
        </p>
        <p class="card-text">
            The very first drystone wall I built was in my back garden in order to prevent the sheep from escaping, I recall founding the proccess incredibly satysing and rewarding.
        </p>
        <p class="card-text">
            Sure enough a few months down the line I was travelling all over the farmyards in my local village of Llanfairfechan (*LINK?*) as well as going up into the mountains behind 
            the village building, repairing and maintaining all the local drystone walls.
        </p>
        <p class="card-text">
            It didnt take long for word of mouth to spread and all of a sudden before I knew it being one of the only skilled drystone wall builders in the area
            requests and messages were pouring in and im very happy to say it became my proffession
        </p>
        <a class="btn btn-success text-bold" asp-area="" asp-controller="Customer" asp-action="CreateAccount">Click To See Examples</a>
    </div>
</div>

<div class="position-relative">
    <div class="position-relative bottom-50 start-30">
        <div class="card border-dark float-centre" style="width: 20rem;">
            <div class="card-body float-centre">
                <h5 class="text-decoration-underline card-title">Contact Me</h5>
                <p class="card-text">
                    Email -------- OsianCurtis0@gmail.com
                </p>
                <p class="card-text">
                    Phone Number -------- 07484686688
                </p>
            </div>
        </div>
    </div>
</div>