


<div class="container py-2">
    <div class="position-absolute top-50 start-50 translate-middle">
        <h5>Im Sorry Your Request Has Not Been successful,</h5>
        <h5>Please Try Again And If The Problem Consists Send An Email To Dylanpye0@gmail.com</h5>

        <div class="mb-3">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="HomePage"><h1>Return Home</h1></a>
        </div>

    </div>
</div>



