


<div class="container py-2">
    <div class="position-absolute top-50 start-50 translate-middle">
        <h5>Your Request Has Been successful,</h5>
        <h5>Thank You For Visiting Our Site</h5>

        <div class="mb-3">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="HomePage"><h1>Return Home</h1></a>
        </div>

    </div>
</div>
